body {
  margin: 0;
  font-family: 'Garamond', 'Times New Roman', serif;
  background: linear-gradient(135deg, #2c003e, #4b0082);
  color: white;
}

.app {
  text-align: center;
  padding: 40px;
}

.title {
  font-size: 150px;
  margin-bottom: 30px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-container input {
  padding: 10px;
  width: 600px;
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
  font-size: 30px;
}

.search-container button {
  padding: 20px 40px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #9b59b6;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size:30px;
}

.search-container button:hover {
  background-color: #c084fc;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.card {
  background: #60218d;
  padding: 20px;
  border-radius: 12px;
  width: 500px;
  transition: 0.3s ease;
  font-family: 'Garamond', 'Times New Roman', serif;
}

.card h2,
.card pre,
.card p {
  font-family: 'Garamond', 'Times New Roman', serif;
}

.card pre,
.card p {
  font-size: 24px;   /* 👈 increase this */
  line-height: 1.6;  /* 👈 improves readability */
}

.card:hover {
  background: #5e17eb;
  transform: translateY(-5px);
}

pre {
  white-space: pre-wrap;
  text-align: left;
  font-size: 17px;
}

.scores {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  align-items: center;
}

.score-box {
  background: #4b0082;
  padding: 15px;
  border-radius: 10px;
  width: 150px;
}

.category-box {
  padding: 20px;
  border-radius: 50px;
  width: 120px;
  font-weight: bold;
  color: black;
}